<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>GetDisplayNameServlet</servlet-name>
  	<display-name>GetDisplayNameServlet</display-name>
  	<description></description>
  	<servlet-class>com.stevenckwong.ACWebServicesIntegration.GetDisplayNameServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetTestCaseServlet</servlet-name>
  	<display-name>GetTestCaseServlet</display-name>
  	<description></description>
  	<servlet-class>com.stevenckwong.ACWebServicesIntegration.GetTestCaseServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GetTimeboxServlet</servlet-name>
  	<display-name>GetTimeboxServlet</display-name>
  	<description></description>
  	<servlet-class>com.stevenckwong.ACWebServicesIntegration.GetTimeboxServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CreateTimeboxServlet</servlet-name>
  	<display-name>CreateTimeboxServlet</display-name>
  	<description></description>
  	<servlet-class>com.stevenckwong.ACWebServicesIntegration.CreateTimeboxServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteTimeboxServlet</servlet-name>
  	<display-name>DeleteTimeboxServlet</display-name>
  	<description></description>
  	<servlet-class>com.stevenckwong.ACWebServicesIntegration.DeleteTimeboxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GetDisplayNameServlet</servlet-name>
  	<url-pattern>/GetDisplayNameServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetTestCaseServlet</servlet-name>
  	<url-pattern>/GetTestCaseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GetTimeboxServlet</servlet-name>
  	<url-pattern>/GetTimeboxServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CreateTimeboxServlet</servlet-name>
  	<url-pattern>/CreateTimeboxServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteTimeboxServlet</servlet-name>
  	<url-pattern>/DeleteTimeboxServlet</url-pattern>
  </servlet-mapping>
</web-app>
